fpdf
gevent
kaleido
tldextract
python-dateutil
charset-normalizer
urllib3
markupsafe
PySocks
zipp
zope.interface
zope.event
blinker
filelock
importlib-metadata
importlib-resources
narwhals
six
idna
click
colorama
fonttools
kiwisolver
pyparsing
packaging
requests-file
flask-cors  
