# Web framework and CORS
flask
flask-cors
werkzeug
itsdangerous
jinja2
blinker

# Async / Networking
gevent
greenlet
PySocks
requests-file
urllib3
idna
certifi
charset-normalizer

# Utility libraries
click
six
future
filelock
python-dateutil
pytz
tzdata
tldextract
pyyaml
importlib-metadata
importlib-resources
zipp

# PDF generation / visualization
fpdf
kaleido

# Plotting stack
matplotlib
contourpy
cycler
fonttools
kiwisolver
pyparsing
packaging
pillow
plotly

# Zope / event system
zope.interface
zope.event

# Terminal output
colorama

# Other utils
markupsafe
narwhals
